* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.describe {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.image {
    width: 100px;
    height: 40px;
}

.text_content {
    font-family: fantasy;
    font-size: 18px;
}